.app {
  background-color: rgb(244, 194, 194);
  height: 100%;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#portfolio-header {
  font-size: 32px;
}

#app-body {
  display: flex;
}

html {
  min-height: 100%;
}
body {
  min-height: 100%;
  background-color: rgb(244, 194, 194);
  padding: 7px; 
}

#root {
  height: 100%;
}
